/**** STRUCTURE
    .foldable-(.top/.left/.right/.bottom)
      .body
        .content
        .handle
      ./body
    ./foldable
*/

/* Body Space */
.foldable.foldable-left,.foldable.foldable-right{
  min-width: 80px;
  min-height: 100%;
  position: relative;
  border: 1px solid black
}

/* Folder Content CSS */
.foldable-left .content{
  /*position: absolute;*/
  max-width: 100%;
  left: -100%;
}

/* Fold Handle CSS*/
.foldable.foldable-left.handle,.foldable.foldable-right .handle{
  width: 80px;
  height: 100%;
  flex-direction: column;
}

.foldable.foldable-left .handle .vertical,.foldable.foldable-right .handle .vertical{
    writing-mode:tb-rl;
    padding: 4px;
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
}

/*Position the handle to next to the body*/
.foldable.foldable-left .handle{
  top: 0px;
  right: 0px;
  height: 100px;
  flex-direction: column;
  transform: translate(-100%, 0px);
}


/**/
.foldable .handle{
  z-index: 9999;
  position: absolute;
  display: flex;
  transition: 0.3s;
  background: coral;
}

.foldable-left.unfold{
  transform: translate(100%, 0px);
}
