/**** STRUCTURE
    .foldable-(.top/.left/.right/.bottom)
      .body
        .content
        .handle
      ./body
    ./foldable
*/

/* Body Space */
.foldable{
  width: 60px;
  z-index: 9999;
  /*height: 100%;*/
  position: relative;
  border: 1px solid black;
}

/* Folder Content Wrapper */
.foldable .foldable-left{
  position: absolute;
  transform: translate(-100%, 0px); /*OffSet*/
  top: 0px;
  left: 0px;
  height: 100%;
}

/*Folder Content Div*/
.foldable .foldable-left .content{
  position: relative;
  transform: translate(0px, 0px);
  transition: 0.3s;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
}

/* Fold Handle CSS*/
.foldable .foldable-left .content .handle{
  width: 60px;
  align-items: center;

  /*Position the handle to next to the body*/
  top: 0px;
  right: 0px;
  height: 100%;
  flex-direction: column;
  transform: translate(100%, 0px);
}

.foldable .foldable-left .content .handle .vertical{
    writing-mode:tb-rl;
    font-size: 30px;
}



/**/
.foldable .handle{
  position: absolute;
  display: flex;
  background: coral;
}

.foldable-left.unfold .content{
  transform: translate(100%, 0px);
}

.foldable .handle .fold-icon{
  cursor: pointer;
  font-size: 50px;
  padding: 10px 20px 20px 20px;
}
